<!doctype html>
<html lang="es-MX">
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' <%= process.env.URLS_CONNECT_CSP %>; connect-src 'self' <%= process.env.URLS_CONNECT_CSP %>; script-src 'self' 'unsafe-eval' <%= process.env.URLS_CONNECT_CSP %>; style-src 'self' 'unsafe-inline' <%= process.env.URLS_CONNECT_CSP %>; img-src 'self' blob: data: <%= process.env.URLS_CONNECT_CSP %>; object-src 'self' blob:; frame-src 'self' <%= process.env.URLS_CONNECT_CSP %> blob:; form-action 'self' "
    />
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-es-ES.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <% if (ctx.mode.pwa) { %>
    <meta name="theme-color" content="<%= pwaManifest.theme_color %>" />
    <link
      rel="mask-icon"
      href="icons/safari-pinned-tab.svg"
      color="<%= pwaManifest.theme_color %>"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="apple-mobile-web-app-title" content="<%= pwaManifest.name %>" />
    <link rel="apple-touch-icon" href="icons/apple-icon-120x120.png" />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="icons/apple-icon-167x167.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="icons/apple-icon-180x180.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <% } %>
  </head>

  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
